@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
 
}

.progress{
    background-color: #d8d8d8;
    border-radius: 20px;
    height: 30px;
    width: 300px;
}

.progress-done{
    background: linear-gradient(to left, #028692, #00b3c0);
    box-shadow: 0 3px 3px -5px #028692, 0 2px 5px #028692 ;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease;
}